:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/*---------------------------Global rules-------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.special-heading {
    font-weight: 800;
    font-size: 100px;
    color: #f5f5f5;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;

}

.special-heading + p {
    margin: -30px 0 0 0;
    font-size: 20px;
    text-align: center;
    color: var(--secondary-color);
    padding-bottom: var(--section-padding);
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
    }

    .features {
        flex-direction: column;
    }
}

/*Small Screens*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*Medium Screens*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*Large Screens*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*---------------------------End of global rules-------------------------*/

/*----------------------------------Header------------------------------*/
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .links {
    position: relative;
}

.header .container .links .icon {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .container .links .icon span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    margin-bottom: 5px;
}

.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.5s;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul:before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--section-background);
    position: absolute;
    top: -20px;
    right: 5px;

}

.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    background-color: var(--section-background);
    min-width: 200px;
    top: calc(100% + 15px);
    z-index: 1;
    display: none;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li:not(li:last-child) {
    border-bottom: 1px var(--secondary-color) solid;
}

.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: .3s;
    color: var(--secondary-color);
}

.header .links ul li a:hover {
    transform: translateX(10px);
    /*padding-left: 25px;*/
}

/*------------------------------End of header---------------------------*/
/*--------------------------------Landing------------------------------*/
.landing {
    background-image: url("../images/landing.jpg");
    height: calc(100vh - 64px);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.landing .intro-text {
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    text-align: center;
    color: var(--main-color);
    font-size: 50px;
}

.landing .intro-text p {
    text-align: center;
    font-size: 19px;
    line-height: 1.8;
}

/*--------------------------------End of landing------------------------------*/
/*-----------------------------------Features--------------------------------*/
.features {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features span {
    margin-top: 3px;
    background-color: var(--section-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    flex: 1 1 calc((100%) / 3);
    transition: .3s;
}

.features span:hover {
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
    z-index: 1;
    transform: scale(1.1);
}

.features span i {
    font-size: 60px;
    color: var(--main-color);
}

.features span h1 {
    color: var(--secondary-color);
    margin: 0;
    margin-top: 50px;
    padding: 0;
    font-size: 15px;
    font-weight: 800;

}

.features span p {
    color: var(--secondary-color);
    line-height: 1.3rem;
    font-size: 14px;
}

/*---------------------------------End of features--------------------------------*/

/*------------------------------------Services-----------------------------------*/
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    color: var(--secondary-color);
}

.services .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: grid;
    grid-template-columns:repeat(3, minmax(0, 1fr));
}

@media (max-width: 767px) {
    .services .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .services .container span:last-child img {
        display: none;
    }

    .services .container span:last-child {
        display: none;
        grid-row: unset !important;
        grid-column: unset !important;
    }

    .services .container span:not(:last-child) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .services .container span i {
        margin-bottom: 25px;
    }

    .services .container span div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.services .container span:not(:last-child) {
    display: flex;
    gap: 5px;
    padding: 20px;
}

.services .container span i {
    font-size: 35px;
    color: var(--main-color);
}

.services .container span div {
    margin-left: 20px;
    margin-top: -10px;
}

.services .container span div h1 {
    margin: 0;
    font-weight: 800;
    font-size: 18px;
}

.services .container span div p {
    margin-top: 25px;
    font-size: 14px;
}

.services .container span:last-child::before {
    content: "";
    background-color: #2c4754;
    width: 30%;
    height: 100%;
    position: absolute;
    right: 5%;
    z-index: -1;
}

.services .container span:last-child {
    display: flex;
    grid-row: 1 /span 2;
    grid-column: 3/span 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services .container span img {
    width: 65%;
    height: 75%;
    z-index: 1;
}

/*---------------------------------End of services------------------------------*/

/*---------------------------------start of portfolio------------------------------*/
.portfolio {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (max-width: 767px) {
    .portfolio .container {
        text-align: center;
    }
}

.portfolio .special-heading {
    color: #ebeced;
}

.portfolio .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
    color: var(--secondary-color);
}

.portfolio .container span {
    background-color: white;
    overflow: hidden;
}

@media (max-width: 767px) {
    .portfolio .container {
        display: flex;
        flex-direction: column;
    }
}

.portfolio .container span img {
    transition: .3s;
    width: 100%;
    height: 240px;
}

.portfolio .container span img:hover {
    transform: scale(1.1);
}

.portfolio .container span h1 {
    margin: 0;
    padding: 15px;
    font-weight: 800;
    font-size: 18px;
}

.portfolio .container span p {
    margin: 0;
    padding: 15px;
    font-size: 16px;
}

/*---------------------------------End of portfolio------------------------------*/


/*--------------------------------------About-----------------------------------*/
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (max-width: 767px) {
    .about .container {
        grid-template-columns: 1fr;
    }
}

.about .container {
    padding-bottom: var(--section-padding);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}


.about .container .image {
    position: relative;
}

.about .container .image::before {
    content: "";
    border-left: 80px solid #ebeced;
    width: 100%;
    height: calc(100% + 50px);
    position: absolute;
    left: -40px;
    top: -30px;
    z-index: -1;
}

.about .container .image {
    grid-row: 1 /span 2;
    width: 70%;
    height: 80%;
    position: relative;
}

.about .container .image::after {
    content: "";
    border-left: 100px solid var(--main-color);
    position: absolute;
    width: 25%;
    height: calc(100% - 80px);
    border-bottom: 70px solid var(--main-color);
    top: -20px;
    right: -110px;
    z-index: -1;
}

.about .container .image img {
    width: 100%;
    height: 100%;
}

.about .container .text {
    color: var(--secondary-color);
    margin-left: 160px;
    margin-top: -40px;
    padding: 40px;
    line-height: 1.5;
}

.about .container .text h3 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}

.about .container .text p {
    font-size: 14px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, var(--main-color) 40%, white 40%) 1;
    padding-top: 20px;
}

@media (max-width: 767px) {
    .about .container {
        grid-template-columns: 1fr;
        margin: 40px;
    }

    .about .container .text {
        margin: 0;
        padding: 0;
    }

    .about .container .image::before {
        content: "";
        border-left: 60px solid #ebeced;
    }

    .about .container .image::after {
        content: "";
        border-left: 80px solid var(--main-color);
        width: 15%;
        top: -20px;
        right: -90px;
    }

    .about .container .image {
        margin-left: 40px;
        display: flex;
        justify-content: center;

    }
}

/*---------------------------------End of about--------------------------------*/
/*-----------------------------------Contact----------------------------------*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .special-heading {
    color: #ebeced;
}

.contact .label {
    font-size: 40px;
    color: var(--secondary-color);
    font-weight: 800;
    text-align: center;
}

.contact .label a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
}

.contact .social {
    color: var(--secondary-color);
    text-align: center;
}

.contact .social p {
    display: inline-block;
}

.contact .social i {
    margin: 5px;
    color: var(--secondary-color);
}

.contact .social i:hover {
    cursor: pointer;
    color: var(--main-color);
}

@media (max-width: 767px) {
    .contact .label {
        font-size: 28px;
    }
}

/*---------------------------------End of contact--------------------------------*/
.footer {
    color: white;
    background-color: var(--secondary-color);
    padding: 20px;
    font-size: 13px;
    text-align: center;
    font-weight: 800;
}

.footer span {
    color: var(--main-color);
}




